data/
JETdata/
JETresults/
JET/output/
JET/output.h5
JET/__pycache__
JET/.driver.py.swp
JET/move_outputs.sh
JET/cleanup.sh
remnants/
JET/.plot_ps_data.py.swp
JET/.utils.py.swp
JET/simulation_settings.log
